<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscripción Instructor</title>
</head>
<body>
  <h2>Inscripción de Instructor</h2>
  <form method="post">
    <input type="text" name="nombre" placeholder="Nombre del instructor"/>
    <input type="text" name="especialidad" placeholder="Especialidad"/>
    <button type="submit">Registrar</button>
  </form>
</body>
</html>


