<form th:action="@{/administrador/clases/agregar-alumno}" method="POST">
    <input type="hidden" name="classId" th:value="${classId}">
    <div class="mb-3">
        <label for="studentId" class="form-label">Selecciona un Alumno</label>
        <select class="form-select" id="studentId" name="studentId" required>
            <option th:each="alumno : ${estudiantes}" th:value="${alumno.id}" th:text="${alumno.nombre + ' ' + alumno.apellido}"></option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Agregar Alumno</button>
</form>