<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valores</title>
    
</head>
<body>
    <header>
        <h1>Valores de Roller Speed</h1>
         <nav>
            <ul>
                <li><a href="./home.html">Home</a></li>
                <li><a href="./eventos.html">Eventos</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li><a href="./mision.html">Misión</a></li>
                <li><a href="./vision.html">Visión</a></li>
                <li><a href="./valores.html">Valores</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Nuestros Valores</h2>
            <ul>
                <li><strong>Innovación:</strong> Buscamos siempre mejorar y ofrecer lo mejor a nuestros usuarios.</li>
                <li><strong>Compromiso:</strong> Estamos dedicados a brindar un servicio de calidad.</li>
                <li><strong>Trabajo en equipo:</strong> Creemos en la colaboración para alcanzar grandes metas.</li>
                <li><strong>Responsabilidad:</strong> Actuamos con ética y profesionalismo en todo lo que hacemos.</li>
                <li><strong>Pasión:</strong> Amamos lo que hacemos y lo reflejamos en cada detalle.</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Roller Speed. Todos los derechos reservados.</p>
    </footer>
</body>
</html>