<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visión</title>
    
</head>
<body>
    <header>
        <h1>Visión</h1>
         <nav>
            <ul>
                <li><a href="./home.html">Home</a></li>
                <li><a href="./eventos.html">Eventos</a></li>
                <li><a href="./servicios.html">Servicios</a></li>
                <li><a href="./mision.html">Misión</a></li>
                <li><a href="./vision.html">Visión</a></li>
                <li><a href="./valores.html">Valores</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Nuestra Visión</h2>
            <p>
                Ser líderes en el desarrollo de soluciones innovadoras que transformen la experiencia de nuestros usuarios, 
                promoviendo la excelencia, sostenibilidad y el impacto positivo en la sociedad.
            </p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Roller Speed. Todos los derechos reservados.</p>
    </footer>
</body>
</html>